
<table class="table table-bordered ">
    
<tbody>
    <tr>
         <th> <mat-label for="Weight">Weight ?</mat-label> </th>
         
            <td> 
                <mat-form-field appearance="outline">
          
                    <input matInput placeholder="In Kg's">
                
                  </mat-form-field>
           </td>
    </tr>
 </tbody>
 <tbody>
    <tr>
         <th> <mat-label for="Height"> Height ?</mat-label> </th>
         
            <td> 
                <mat-form-field appearance="outline">
          
                    <input matInput placeholder="In  Inches">
                
                  </mat-form-field>
           </td>
    </tr>
 </tbody>

  <tbody>
      <tr>
           <th  colspan="1"> <mat-label for="smoke">Do you Smoke ?</mat-label> </th>
              <mat-radio-group>
              <td>
              <mat-radio-button value="Yes"> Yes</mat-radio-button></td>
              <td>
              <mat-radio-button value="No" > No</mat-radio-button> </td>
                </mat-radio-group>
      </tr>
  </tbody>
   
          <tbody>
            <tr>
              <th><mat-label for="Alcohol">Do you take Alcohol ?</mat-label> </th>
           
              <mat-radio-group>
                <td>
                  <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                  <td>
                 <mat-radio-button value="No"> No</mat-radio-button></td>
              </mat-radio-group>
              </tr>
          </tbody>
          
          <tbody>
              <tr>
                <th><mat-label for="tobacco">Do you take tobacco ?</mat-label> </th>
             
                <mat-radio-group>
                  <td>
                    <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                    <td>
                   <mat-radio-button value="No"> No</mat-radio-button></td>
                </mat-radio-group>
                </tr>
            </tbody>
            
                    <tbody>
                        <tr>
                          <th><mat-label for="spectacles"> Do you wear spectacles ?</mat-label> </th>
                       
                          <mat-radio-group>
                            <td>
                              <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                              <td>
                             <mat-radio-button value="No"> No</mat-radio-button></td>
                          </mat-radio-group>
                          </tr>
                        </tbody>
                          <tbody>
                              <tr>
                                <th><mat-label for="lens"> Do you use "Contact Lens"  ?</mat-label> </th>
                             
                                <mat-radio-group>
                                  <td>
                                    <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                                    <td>
                                   <mat-radio-button value="No"> No</mat-radio-button></td>
                                </mat-radio-group>
                                </tr>
                            </tbody>
                           
                                <tbody>
                                    <tr>
                                      <th><mat-label for="glass">If Yes, Power of Glass ?</mat-label> </th>
                                   
                                      <mat-radio-group>
                                        <td>
                                          <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                                          <td>
                                         <mat-radio-button value="No"> No</mat-radio-button></td>
                                      </mat-radio-group>
                                      </tr>
                                  </tbody>
                          
                <tbody>
                    <tr>
                      <th><mat-label for="blind"> Are you color blind ?</mat-label> </th>
                   
                      <mat-radio-group>
                        <td>
                          <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                          <td>
                         <mat-radio-button value="No"> No</mat-radio-button></td>
                      </mat-radio-group>
                      </tr>
                  </tbody>
                  <tbody>
                      <tr>
                        <th><mat-label for="bp">Are you suffering from High BP?</mat-label> </th>
                     
                        <mat-radio-group>
                          <td>
                            <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                            <td>
                           <mat-radio-button value="No"> No</mat-radio-button></td>
                        </mat-radio-group>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                          <th><mat-label for="Diabetes">Are you suffering from Diabetes ?</mat-label> </th>
                       
                          <mat-radio-group>
                            <td>
                              <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                              <td>
                             <mat-radio-button value="No"> No</mat-radio-button></td>
                          </mat-radio-group>
                          </tr>
                      </tbody>
                      <tbody>
                          <tr>
                            <th><mat-label for="heart">Are you suffering from major heart disease ?</mat-label> </th>
                         
                            <mat-radio-group>
                              <td>
                                <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                                <td>
                               <mat-radio-button value="No"> No</mat-radio-button></td>
                            </mat-radio-group>
                            </tr>
                        </tbody>
                        <tbody>
                            <tr>
                              <th><mat-label for="ear">Are you having any ear diseases ?</mat-label> </th>
                           
                              <mat-radio-group>
                                <td>
                                  <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                                  <td>
                                 <mat-radio-button value="No"> No</mat-radio-button></td>
                              </mat-radio-group>
                              </tr>
                          </tbody>
                          <tbody>
                              <tr>
                                <th><mat-label for="Asthma">Are you suffering from Asthma  ?</mat-label> </th>
                             
                                <mat-radio-group>
                                  <td>
                                    <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                                    <td>
                                   <mat-radio-button value="No"> No</mat-radio-button></td>
                                </mat-radio-group>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                  <th><mat-label for="skin">Are you suffering from skin disease?</mat-label> </th>
                               
                                  <mat-radio-group>
                                    <td>
                                      <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                                      <td>
                                     <mat-radio-button value="No"> No</mat-radio-button></td>
                                  </mat-radio-group>
                                  </tr>
                              </tbody>
         
                              <tbody>
                                  <tr>
                                    <th><mat-label for="Psoriasis">(a)	Psoriasis ?</mat-label> </th>
                                 
                                    <mat-radio-group>
                                      <td>
                                        <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                                        <td>
                                       <mat-radio-button value="No"> No</mat-radio-button></td>
                                    </mat-radio-group>
                                    </tr>
                                </tbody>
                                <tbody>
                                    <tr>
                                      <th><mat-label for="Eczema"> (b)	External Eczema ?</mat-label> </th>
                                   
                                      <mat-radio-group>
                                        <td>
                                          <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                                          <td>
                                         <mat-radio-button value="No"> No</mat-radio-button></td>
                                      </mat-radio-group>
                                      </tr>
                                  </tbody>
                                  <tbody>
                                      <tr>
                                          
                                        <th><mat-label for="have"> If yes, details: (Male candidates only)Are you having swelling in groin (hydrocele/herneal/varicocele) ?</mat-label> </th>
                                     
                                        <mat-radio-group>
                                          <td>
                                            <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                                            <td>
                                           <mat-radio-button value="No"> No</mat-radio-button></td>
                                        </mat-radio-group>
                                        </tr>
                                    </tbody>
                                    <tbody>
                                        <tr>
                                         
                                          <th><mat-label for="female">For Female candidates only:Are your periods regular ?</mat-label> </th>
                                       
                                          <mat-radio-group>
                                            <td>
                                              <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                                              <td>
                                             <mat-radio-button value="No"> No</mat-radio-button></td>
                                          </mat-radio-group>
                                          </tr>
                                      </tbody>
                                      <tbody>
                                          <tr>
                                               <th >
                                            <mat-label for="medical">Have you taken any long-term medical treatment for Gynec problem ?</mat-label> </th>
                                         
                                            <mat-radio-group>
                                              <td>
                                                <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                                                <td>
                                               <mat-radio-button value="No"> No</mat-radio-button></td>
                                            </mat-radio-group>
                                            </tr>
                                        </tbody>
                                        <tbody>
                                            <tr>
                                              <th>
                                              <mat-label for="have">Date of last periods ?</mat-label> </th>
                                           <td>
                                              <mat-form-field>
                                                  <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                                                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                  <mat-datepicker #picker></mat-datepicker>
                                                </mat-form-field>
                                                </td> 
                                              </tr>
                                          </tbody>
                                          <tbody>
  <tbody>
        <th  colspan="3"><h3>Declaration: </h3>  </th>
      </tbody>
      
      <tbody>
      <th colspan="3">
      <p>I, Certified that the particulars given by me in foregoing above are true, complete and to the best of my knowledge & belief. If any of this information is found to be false/ incomplete/ incorrect, the company can cancel my appointment letter or terminate my employment service contract/employment.I have/have not undergone pre-employment medical checkup in past.</p>
    </th>
    </tbody>
    <tbody>
      <th colspan="3">
            <p style="text-align: center;" front-family="bold" >For Envision Integrated Services Private Limited </p>
      </th>
   </tbody>
</table> 

