
<app-navbar></app-navbar>
<div class="jumbotron">
		<div class="container">
		
				
					<h3 style="text-align:center;margin-bottom:30px">Patient clinical form </h3>
					<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
						<div class="form-group">
                            <div class="row">
                                <div class="col-sm-3">
                                     <label>First Name</label><span>*</span>
                                </div>
                                <div class="col-sm-5">
                                    <input type="text" formControlName="firstname" [(ngModel)]="patient.firstname" name="firstname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
                                    <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                                        <div *ngIf="f.firstname.errors.required">First Name is required</div>
                                        
                                    </div>
                                </div>
                            </div>
						</div>
						<div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label>Last Name</label><span>*</span></div>
                                    <div class="col-sm-5">
                                        <input type="text"   [(ngModel)]="patient.lastname" name="lastname" formControlName="lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" />
                                        <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                                            <div *ngIf="f.lastname.errors.required">Last Name is required</div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                        
                        <div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label>Gender*</label><span>*</span></div>
                                    <div class="col-sm-5">
                                        <select type="text" [(ngModel)]="patient.Gender" name="Gender" formControlName="Gender" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Gender.errors }" >
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                       </select>

                                       <div *ngIf="submitted && f.Gender.errors" class="invalid-feedback">
                                            <div *ngIf="f.Gender.errors.required">Gender is required</div>
                                            
                                        </div>
                                    </div>
                                </div>
                               
                                
                               
                        </div>
						<div class="form-group"> 
                            <div class="row">
                                <div class="col-sm-3">
                                    <label>Date</label><span>*</span>
                                </div>
                                <div class="col-sm-5">
                                    <input type="date" [(ngModel)]="patient.date" name="date" formControlName="date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.date.errors }" />
                                    <div *ngIf="submitted && f.date.errors" class="invalid-feedback">
                                        <div *ngIf="f.date.errors.required">Date is required</div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                               
                                <div class="row">
                                        <div class="col-sm-3">
                                            <label>Patient clinical problem</label><span>*</span>
                                        </div>
                                        <div class="col-sm-5">
                                
                                            <select type="text" [(ngModel)]="patient.Clinical" name="Clinical" formControlName="Clinical" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.Clinical.errors }" >
                                            
                                                <option value="crowning">crowning</option>
                                                <option value="spacing">spacing</option>
                                           </select>
                                           <div *ngIf="submitted && f.Clinical.errors" class="invalid-feedback">
                                                <div *ngIf="f.Clinical.errors.required">Patient clinical problem is required</div>
                                                
                                            </div>
                                        </div>
                                </div>
                                                                        
                                
                               
                        </div>

                      
                            
                        <div class="form-group">
                                <div class="row">
                                        <div class="col-sm-3">
                                             <label>Upload Image</label><span>*</span>
                                        </div>
                                        <div class="col-sm-5">
                                            <input #file type="file" accept="image/gif, image/jpeg, image/png" formControlName="file" class="form-control-file" [ngClass]="{ 'is-invalid': submitted && f.file.errors }" [(ngModel)]="patient. file" name="file" (change)="preview(file.files)" />
                                            <div *ngIf="submitted && f.file.errors" class="invalid-feedback">
                                                    <div *ngIf="f.file.errors.required">file is required</div>
                                                    
                                                </div>
                                       
                                       
                                        </div>


                                       
                                       
                                       
                                        </div>
                                
                        
                                
                                
                             
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label></label></div>
                                    <div class="col-sm-5" style="margin-top:10px;">
                                <img [src]="imgURL" height="200"  *ngIf="imgURL"  ></div>

                              
                        
                            </div>
                        </div>
                        
                        
                    
                       



						
						<div class="form-group">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <label></label></div>
                                    <div class="col-sm-3">
                                    <button class="btn btn-info">Save</button>
                                    </div>
                                </div>
                               
                        </div>
                       
					</form>
			
			
		</div>
	</div>