<!----
<pre>
<h3>1. Joining Formalities : </h3>
<p>1(a). New joiner has to fill join application form & Medical declaration. 
1(b). New Joiner has to submit their respective documents on the date of joining  and fulfill their appointment letter with in 1 day  without  fail. 
1(c). No fake certificates and experience letters will be encouraged. If any one found it will be considered into legal action. 
1(d). Passport should be mandatory at the time of joining, if not with in 1 month they have to get it done. 
1(e). After Completion of Joining formalities, work space , Bio-metric & Logins will be provided. </p>
<h3>2. Office working Timings :</h3> <p>
--->
		<table class="table table-bordered ">
				<thead>
						<tr>
								<th colspan="2" class="clss">1. Joining Formalities </th>
								
							  </tr>
				</thead>
				<tbody>
						<tr>
							<th>1(a)</th>
						  <td>New joiner has to fill join application form & Medical declaration</td>
					   </tr>
					   <tr>
							  <th>1(b)</th>
							<td> New Joiner has to submit their respective documents on the date of joining  and fulfill their appointment letter with in 1 day  without  fail</td>
					  </tr>
					  <tr>
							<th>1(c)</th>
						  <td> No fake certificates and experience letters will be encouraged. If any one found it will be considered into legal action</td>
					   </tr>
					   <tr>
							  <th>1(d)</th>
							<td> Passport should be mandatory at the time of joining, if not with in 1 month they have to get it done</td>
					  </tr>
					  <tr>
							<th>1(e)</th>
						  <td> After Completion of Joining formalities, work space , Bio-metric & Logins will be provided</td>
					   </tr>
					  
				</tbody>

		</table>
		<table class="table table-bordered ">
				<thead>
						<tr>
								<th colspan="2" class="clss">2. Office working Timings</th>
								
							  </tr>
				</thead>
				<tbody>
				  <tr>
					  <th>2(a)</th>
					<td>6 DAYS - 6 days, General, A and B Shift </td>
				 </tr>
				 <tr>
						<th>2(b)</th>
					  <td>General Shift - 9.00 am - 6.30 pm </td>
				</tr>
				<tr>
						<th>2(c)</th>
					  <td>First Shift - 6 .00 am - 3.00 pm </td>
				</tr>
				<tr>
						<th>2(d)</th>
					  <td>Second Shift - 3.00 pm – 12.00 am </td>
				</tr>
				<tr>
						<th>2(e)</th>
					  <td>Break Time -	10 min </td>
				</tr>
				<tr>
						<th>2(f)</th>
					  <td>Lunch or dinner -	45 min </td>
				</tr>
				<tr>
						<th>2(g)</th>
					  <td>Late coming  	-	No grace period allowed. In failed case , consider half day loss of pay. 
							Late working should not be reason for late coming. </td>
				</tr>
			
			   </tbody> 
		</table>
		<table class="table table-bordered ">
				<thead>
						<tr>
								<th colspan="2" class="clss">3. Attendance - Leaves</th>
								
							  </tr>
				</thead>
				<tbody>
				  <tr>
					  <th>3(a)</th>
					<td>Everyday  Punching must be done by you for  entry and exit</td>
				 </tr>
				 <tr>
						<th>3(b)</th>
					  <td>Everyday  you  should sign in register  for  entry and exit timings </td>
				</tr>
				<tr>
						<th>3(c)</th>
					  <td>Everyday  you  should mention entry and exit timings in the time sheets</td>
				</tr>
				<tr>
						<th>3(d)</th>
					  <td>You need to submit your Time Sheets  every month on or before 20th else  salary will not be processed </td>
				</tr>
				<tr>
						<th>3(e)</th>
					  <td> Late login will leads to LOP, make sure you are  providing valid reason in MAIL or SMS that needs to be approved from your reporting manager. Verbal communication will be strictly avoided </td>
				</tr>
				<tr>
						<th>3(f)</th>
					  <td>Working on holiday and availing  comp off  should  be approved from  your reporting manager. Else It will be considered as working day</td>
				</tr>
				<tr>
						<th>3(g)</th>
					  <td>Leaves need to be intimated two weeks prior, sudden leave intimation will be considered as LOP </td>
				</tr>
				<tr>
						<th>3(h)</th>
					  <td>Medical emergency leave should be communicated to your reporting manager by MAIL or SMS. Medical certificate is mandatory to consider the leave as Sick leave</td>
				</tr>
				<tr>
						<th>3(i)</th>
					  <td>Continuous 3 Days absence to office without any information will leads to termination </td>
				</tr>
			   </tbody> 
		</table>
		<table class="table table-bordered ">
				<thead>
						<tr>
								<th colspan="2" class="clss">4.  Dress Code </th>
						
							  </tr>
				</thead>
				<tbody>
				  <tr>
					  <th>4(a)</th>
					<td>Attire should be in Formal dress from Monday to Thursday</td>
				 </tr>
				 <tr>
						<th>4(b)</th>
					  <td>Casual dress is allowed on Friday and Saturday</td>
				</tr>
				<tr>
						<th>4(c)</th>
					  <td>Formal shoes is mandatory in week days, we don’t allow sandals or slippers to office</td>
				</tr>
				<tr>
						<th>4(d)</th>
					  <td>Fair hair cut and shaving should be maintained everyday </td>
				</tr>
				<tr>
						<th>4(e)</th>
					  <td>For ladies attire should be Indian traditional dress, Formal will be appreciated </td>
				</tr>
				<tr>
						<th>4(f)</th>
					  <td> Hats & Caps will not be allowed </td>
				</tr>
				<tr>
						<th>4(g)</th>
					  <td>Wearing  ID card in working timinings is mandatory. If  you loose ID card, you need to inform immediately  to HR Team. Permanent loss of ID will be penalized and you need to pay 500rs/- to  get new ID card</td>
				</tr>
			
			   </tbody> 
		</table>
		<table class="table table-bordered ">
				<thead>
						<tr>
								<th colspan="2" class="clss">5.  IT Policy </th>
						
							  </tr>
				</thead>
				<tbody>
				  <tr>
					  <th>5(a)</th>
					<td>Access to Information & Secrecy/Confidentiality</td>
				 </tr>
				 <tr>
						<th>5(b)</th>
					  <td>Customer’s information, Data and Materials should be confidential, theft of data from office will leads to termination and legal actions will be held on  employee</td>
				</tr>
				<tr>
						<th>5(c)</th>
					  <td>Pen drives and Laptops are not allowed. Permission letter should be submitted if  required </td>
				</tr>
				<tr>
						<th>5(d)</th>
					  <td>Passing of information to other companies on Project details, quote will be legally punished</td>
				</tr>
				<tr>
						<th>5(e)</th>
					  <td>Using of internet for surfing Google, Gmail, LinkedIn, Facebook  and any illegal sites is strictly prohibited, leads to termination without any discussion</td>
				</tr>
				<tr>
						<th>5(f)</th>
					  <td>Speaking continuously over phone, doing what's app and other social network chatting during working  hours will leads to warning on employee</td>
				</tr>
			   </tbody> 

				<thead>
						<tr>
								<th colspan="2" class="clss">6. Travel Desk </th>
						
							  </tr>
				</thead>
				<tbody>
				  <tr>
					  <th>6(a)</th>
					<td>According to levels, travel tickets will be booked</td>
				 </tr>
				 <tr>
						<th>6(b)</th>
					  <td>TA and DA will be declared according to work content and working place</td>
				</tr>
				<tr>
						<th>6(c)</th>
					  <td> All original bills need to be submitted for reimbursement </td>
				</tr>
				</tbody>
		</table>
		<table class="table table-bordered ">
				<thead>
						<tr>
								<th colspan="2" class="clss">7.Working disciplinary </th>
								
							  </tr>
				</thead>
				<tbody>
				  <tr>
					  <th>7(a)</th>
					<td>Forcing an employee to perform tasks that are below their skill level</td>
				 </tr>
				 <tr>
						<th>7(b)</th>
					  <td>Rude, degrading, shouting, yelling, threatening </td>
				</tr>
				<tr>
						<th>7(c)</th>
					  <td>Sexual Harassment like physical touch</td>
				</tr>
				<tr>
						<th>7(d)</th>
					  <td>  Display of objects, pictures or cartoons of a sexual nature </td>
				</tr>
				<tr>
						<th>7(e)</th>
					  <td> Communication in local language like Telugu, Hindi etc. need to avoided strictly. Communication through English  is mandatory</td>
				</tr>
				<tr>
						<th>7(f)</th>
					  <td>Making groups, encouraging or supporting friends, relatives for any task needs to be strictly avoided</td>
				</tr>
				<tr>
						<th>7(g)</th>
					  <td>Linguistic and regional racing will be strictly prohibited </td>
				</tr>
				<tr>
						<th>7(h)</th>
					  <td>Employees should understand their roles and responsibilities and accordingly they  need to  work. They should not involve in any other responsibilities or  work</td>
				</tr>
				<tr>
						<th>7(i)</th>
					  <td>Attending to office after consumption of Alcohol and Smoking  should be strictly prohibited</td>
				</tr>
			   </tbody> 
		</table>
		<table class="table table-bordered ">
				<thead>
						<tr>
								<th colspan="2" class="clss">8. Complaints & Suggestions</th>
								
							  </tr>
				</thead>
			<tbody>
				  <tr>
					  <th>8(a)</th>
					<td> Your valuable suggestions is most welcome, to below mail IDS</td>
				 </tr>
				 <tr>
						<th>8(b)</th>
					  <td>Complaints regarding any issues can be immediately bring to top management </td>
				</tr>
				<tr>
						<th>8(c)</th>
					  <td>Every Quarter this policy document will be revised according to new updated requirements</td>
				</tr>
				<tr>
						<th>8(d)</th>
					  <td>Once you had raised mail to HR team, your problems will be resolved with in 48 hrs, after approval from management subject to benefit for the company and Employees</td>
				</tr>
	
			</tbody>
		</table>

<!----
2(a). 6 DAYS 		- 6 days, General, A and B Shift 
2(b). General Shift - 9.00 am - 6.30 pm 
2(c). First Shift 	-	6 .00 am -  3.00 pm 
2(d). Second Shift  	-	3.00 pm – 12.00 am
2(e). Break Time 	-	10 min 
2(f). Lunch or dinner 	-	45 min 
2(g). Late coming  	-	No grace period allowed. In failed case , consider half day loss of pay. 
		                Late working should not be reason for late coming </p>
<h3>3. Attendance - Leaves : </h3><p>
3(a). Everyday  Punching must be done by you for  entry and exit. 
3(b). Everyday  you  should sign in register  for  entry and exit timings
3(c). Everyday  you  should mention entry and exit timings in the time sheets.
3(d). You need to submit your Time Sheets  every month on or before 20th else  salary will not be processed 
3(e). Late login will leads to LOP, make sure you are  providing valid reason in MAIL or SMS that needs to be approved from your reporting manager. Verbal communication will be strictly avoided. 
3(f). Working on holiday and availing  comp off  should  be approved from  your reporting manager. Else It will be considered as working day. 
3(g). Leaves need to be intimated two weeks prior, sudden leave intimation will be considered as LOP. 
3(h). Medical emergency leave should be communicated to your reporting manager by MAIL or SMS. Medical certificate is mandatory to consider the leave as Sick leave. 
3(i). Continuous 3 Days absence to office without any information will leads to termination. </p>
<h3>4. Dress Code :</h3> <p>
4(a). Attire should be in Formal dress from Monday to Thursday. 
4(b). Casual dress is allowed on Friday and Saturday.
4(c). Formal shoes is mandatory in week days, we don’t allow sandals or slippers to office.
4(d). Fair hair cut and shaving should be maintained everyday. 
4(e). For ladies attire should be Indian traditional dress, Formal will be appreciated. 
4(f). Hats & Caps will not be allowed. 
4(g). Wearing  ID card in working timinings is mandatory. If  you loose ID card, you need to inform immediately  to HR Team. Permanent loss of ID will be penalized and you need to pay 500rs/- to  get new ID card .</p> 
<h3>5. IT Policy : </h3><p>
5(a). Access to Information & Secrecy/Confidentiality 
5(b). Customer’s information, Data and Materials should be confidential, theft of data from office will leads to termination and legal actions will be held on  employee. 
5(c). Pen drives and Laptops are not allowed. Permission letter should be submitted if  required . 
5(d). Passing of information to other companies on Project details, quote will be legally punished. 
5(e). Using of internet for surfing Google, Gmail, LinkedIn, Facebook  and any illegal sites is strictly prohibited, leads to termination without any discussion. 
5(f). Speaking continuously over phone, doing what's app and other social network chatting during working  hours will leads to warning on employee. </p>
<h3>6. Travel Desk : </h3><p>
6(a). According to levels, travel tickets will be booked. 
6(b). TA and DA will be declared according to work content and working place. 
6(c). All original bills need to be submitted for reimbursement.</p>
<h3>7. Working disciplinary   : </h3><p>
7(a). Forcing an employee to perform tasks that are below their skill level. 
7(b). Rude, degrading, shouting, yelling, threatening. 
7(c). Sexual Harassment like physical touch. 
7(d). Display of objects, pictures or cartoons of a sexual nature. 
7(e). Communication in local language like Telugu, Hindi etc. need to avoided strictly. Communication through English  is mandatory. 
7(f). Making groups, encouraging or supporting friends, relatives for any task needs to be strictly avoided. 
7(g). Linguistic and regional racing will be strictly prohibited. 
7(h). Employees should understand their roles and responsibilities and accordingly they  need to  work. They should not involve in any other responsibilities or  work. 
7(i). Attending to office after consumption of Alcohol and Smoking  should be strictly prohibited. </p>
<h3>8. Complaints & Suggestions  : </h3><p>
8(a). Your valuable suggestions is most welcome, to below mail IDS 
8(b). Complaints regarding any issues can be immediately bring to top management. 
8(c). Every Quarter this policy document will be revised according to new updated requirements. 
8(d). Once you had raised mail to HR team, your problems will be resolved with in 48 hrs, after approval from management subject to benefit for the company and Employees. </p>
<h6>hr@envisionis.in 			Praveenkumar.j@envisionis.in</h6> 
</pre>
		
 --->


