img{

    height:20%;
    width:100%;
     
   }
.table table-bordered{
    margin-top: 30px;
}
.btun{
    font-weight:bold;
    margin-top:20px;
}
.a{
    color:#3AB1CF;
}
tr:hover{ background-color: #ddd8d8;}
img{

    height:10%;
    width:100%;
     
   }
//    .main-content{
//        margin-top:40px;
//    }