<app-navbar></app-navbar>

<!--<div class="container">
    <form >
      <div class="row">
        <div class="col-sm-2">
          <label for="fname">First Name</label>
        </div>
        <div class="col-sm-4">
          <input type="text" id="fname" name="firstname" placeholder="First name.."    [(ngModel)]="patient.firstname" name="firstname">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <label for="lname">Last Name</label>
        </div>
        <div class="col-sm-4">
          <input type="text" id="lname" name="lastname" placeholder="last name.."  [(ngModel)]="patient.lastname" name="lastname">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <label for="country">Gender</label>
        </div>
        <div class="col-sm-4">
          <select id="country"  [(ngModel)]="patient.gender" name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
           
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <label for="subject">D.O.B</label>
        </div>

        <div class="col-sm-4">
              
       
          <input type="date" [(ngModel)]="patient.date" name="patient">

        </div>
      </div>

        <div class="row">
          <div class="col-sm-2">
            <label for="country">Patient Clinical Problem</label>
          </div>
          <div class="col-sm-4">
            <select id="country"  [(ngModel)]="patient.Clinical" name="Clinical">
              <option value="Crowding">Crowding</option>
              <option value="Spacing">Spacing</option>
             
            </select>
          </div>
        </div>


      
        

        <span style="color:red;" *ngIf="message">{{message}}</span>
        <div class="row">
        <div class="col-sm-2">
         <label>Upload Image</label></div>
         <div class="col-sm-4">
        <input #file type="file" accept="image/gif, image/jpeg, image/png"  [(ngModel)]="patient. file" name="file" (change)="preview(file.files)" /></div></div>
        
        <div class="row">
            <div class="col-sm-2">
                <label></label></div>
            <div class="col-sm-6" style="margin-top:10px;">
        <img [src]="imgURL" height="200"  *ngIf="imgURL" [(ngModel)]="patient.imgURL" name="imgURL"  ></div></div>

      
      <div class="row">
          <div class="col-sm-2"></div>
          <div class="col-sm-2">
            <button (click)="savePatient()"  class="btn btn-info" style="margin-top: 10px;">submit</button>
          </div>
        </div>

     
    </form>
  
  
  </div>-->
  
 
   
 