.container {
    height: 100%;
    width: 100%;
    padding-bottom:3%;
    align-items: center;
    display: flex;
  }
  
  form {
    width: 100%;
  }
  
  .content {
    width: 400px;
    display: block;
    margin: 0 auto;
  }
  
  .toolbar {
    justify-content: center;
  }
  
  .mat-form-field {
    width: 100%;
    display: block;
  }
  .mat-raised-button {
    width: 100%;
    margin-top: 15px;
  }