<div class="container">
    
        <div class="content">
         <h5  style="text-align: center;font-size:23px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Envision Integrated Services Pvt Ltd</h5>
          <!-- <mat-toolbar class="toolbar" color="primary">My App</mat-toolbar> -->
          <img class="card-img-top" src="assets/img/download.png" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;height:170px;padding-bottom: 30x;">
         
          <mat-card>
            <h5  style="margin-bottom:10px;text-align: center;font-size:23px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: #6dd5ed;">Admin Reset Password</h5>
            <form [formGroup]="AdminforgotForm" novalidate (ngSubmit)="onSubmit()">
                <mat-form-field>
                            <mat-icon matPrefix>lock_outline</mat-icon>
                            <input type="password" autocomplete="false" matInput placeholder="Old Password" formControlName="oldpassword">
                            <mat-error *ngIf="!AdminforgotForm.controls['oldpassword'].valid && AdminforgotForm.controls['oldpassword'].touched">
                                    Old Password is required
                            </mat-error> 
                        </mat-form-field>
              <mat-form-field>
                <mat-icon matPrefix>lock_outline</mat-icon>
                <input type="password" autocomplete="false" matInput placeholder="New Password" formControlName="newpassword">
                <mat-error *ngIf="!AdminforgotForm.controls['newpassword'].valid && AdminforgotForm.controls['newpassword'].touched">
                        New Password is required
                </mat-error> 
              </mat-form-field>
              <mat-form-field>
                    <mat-icon matPrefix>lock_outline</mat-icon>
                    <input type="password" autocomplete="false" matInput placeholder="ConfirmPassword" formControlName="confirmpassword">
                    <mat-error *ngIf="!AdminforgotForm.controls['confirmpassword'].valid && AdminforgotForm.controls['confirmpassword'].touched">
                            Confirm Password is required
                    </mat-error> 
                </mat-form-field>
            
              <button type="submit" mat-raised-button color="info" style="background-color: #08849C;color: white;" >Submit</button>
            </form>
          </mat-card>
        </div>
      </div>