

<nav class="navbar navbar-expand-lg  navbar-dark navbar1  sticky-top">
    <!--<a class="navbar-brand" href="#">V-CLEAR</a>-->
    <img src="assets/images/v-clear.jpg">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class=" navbar-nav ml-auto  ">
         
         

            <div class="dropdown" style="font-size:20px;margin-right:10px;" >
             
                <button class="dropbtn"  style="font-size:20px;margin-right:10px;">Login  <i class="fa fa-angle-down"></i></button>
               
                <div class="dropdown-content">
                  <a routerLink="/login"  >DR.Sreeja</a>
                  <a href="#">DR.Anitha</a>
                  <a href="#"></a>
                </div>
              </div>
       

        
           
      </ul>
    </div>  
  </nav>

 <!--<div class="topnav">
    <a  routerLink="/editpatient">Patients</a>
    <a routerLink="">Account</a>
    <a href="#contact">Academy</a>
    
  </div>-->

  <nav class="navbar navbar-expand-lg navbar-light   navbar2  ">
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon" style="background-color:white"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" style="color:white" routerLink="/car">Patients <span class="sr-only">(current)</span></a>
        </li>
      
        
        <li class="nav-item">
          <a class="nav-link " href="#" style="color:white">Account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="#" style="color:white">Academy</a>
           
          </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
      
        <button class="btn  btn-outline-info my-2 my-sm-0"  type="submit" routerLink="/editpic">ADD Patients</button>
      </form>
    </div>
  </nav>


 


