
      <!---Standard Deduction-->
      
        <table class="table table-bordered " id="contentToConvert">
          <thead>
                  <tr>
                          <th colspan="4" class="clss">(Standard Deduction)</th>
                          
                        </tr>
            <tr>
              <th scope="col">#</th>
              <th scope="col"></th>
              <th scope="col">Name</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td></td>
              <td>Standard Deduction</td>
              <td><input type="text" class="input"></td>
            </tr>
            <tr>
              <th scope="row">Max Amount:50000.00</th>
              <th scope="col"></th>
              <td class="a"> Total:</td>
              <td scope="col"><input type="text" class="input"></td>
            </tr>
          </tbody>
   
        <thead>
                <tr>
                        <th colspan="4" class="clss">10 (13A)</th>
                      </tr>
          <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td></td>
            <td>Actual House Rent Paid(Yearly)</td>
            <td><input type="text" class="input"></td>
          </tr>
          <tr>
            <th scope="row">Max Amount:0.00</th>
            <th scope="col"></th>
            <td class="a"> Total:</td>
            <td scope="col"><input type="text" class="input"></td>
          </tr>
        </tbody>

            <thead>
                    <tr>
                            <th colspan="4"  class="clss">80 C</th>
                          </tr>
              <tr>
                <th scope="col">#</th>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td></td>
                <td>Life Insurance Premium for Self/Spouse/Children</td>
                <td><input type="text" class="input"></td>
              </tr>
              <tr>
                    <th scope="row">2</th>
                    <td></td>
                    <td>National Savings Certificate</td>
                    <td><input type="text" class="input"></td>
             </tr>
             <tr>
                    <th scope="row">3</th>
                    <td></td>
                    <td>Subscription to equity Shares or debentures - ULIP/ELSS/Mutual Funds</td>
                    <td><input type="text" class="input"></td>
             </tr>
             <tr>
                    <th scope="row">3</th>
                    <td></td>
                    <td> Tuition Fee to any university, school, for any two children</td>
                    <td><input type="text" class="input"></td>
             </tr>
             <tr>
                    <th scope="row">5</th>
                    <td></td>
                    <td>Hostel Expenditure Allowance for any two children</td>
                    <td><input type="text" class="input"></td>
             </tr>
             <tr>
                    <th scope="row">6</th>
                    <td></td>
                    <td>Repayment of Principal on Housing Loan</td>
                    <td><input type="text" class="input"></td>
             </tr>
             <tr>
                    <th scope="row">7</th>
                    <td></td>
                    <td>Five Year Deposit under Post Office Time Deposit Rules, 1981</td>
                    <td><input type="text" class="input"></td>
             </tr>
             <tr>
                    <th scope="row">8</th>
                    <td></td>
                    <td>Stamp Duty, Registration Fee incurred at the time of transfer of house property</td>
                    <td><input type="text" class="input"></td>
             </tr>
             <tr>
                    <th scope="row">9</th>
                    <td></td>
                    <td>Contribution to Pension Fund</td>
                    <td><input type="text" class="input"></td>
             </tr>
             <tr>
                    <th scope="row">10</th>
                    <td></td>
                    <td>Infrastructure Bonds	</td>
                    <td><input type="text" class="input"></td>
             </tr>
    
             <tr>
                    <th scope="row">11</th>
                    <td></td>
                    <td>Interest on NSC Reinvested</td>
                    <td><input type="text" class="input"></td>
             </tr>
             <tr>
                    <th scope="row">12</th>
                    <td></td>
                    <td>Long term Infrastructure Bonds</td>
                    <td><input type="text" class="input"></td>
             </tr>
             <tr>
                    <th scope="row">13</th>
                    <td></td>
                    <td>NABARD Rural Bonds</td>
                    <td><input type="text" class="input"></td>
             </tr>
             <tr>
                    <th scope="row">14</th>
                    <td></td>
                    <td>National Pension Scheme</td>
                    <td><input type="text" class="input"></td>
             </tr>
        
             <tr>
                    <th scope="row">15</th>
                    <td></td>
                    <td>	NHB Scheme	</td>
                    <td><input type="text" class="input"></td>
             </tr>
             <tr>
                    <th scope="row">16</th>
                    <td></td>
                    <td>Pradhan Mantri Suraksha Bima Yojana</td>
                    <td><input type="text" class="input"></td>
             </tr>
             <tr>
                    <th scope="row">17</th>
                    <td></td>
                    <td>Repayment of Housing loan(Principal amount)</td>
                    <td><input type="text" class="input"></td>
             </tr>
             <tr>
                    <th scope="row">18</th>
                    <td></td>
                    <td>Sukanya Samriddhi Yojana</td>
                    <td><input type="text" class="input"></td>
             </tr>
             <tr>
                    <th scope="row">19</th>
                    <td></td>
                    <td>	Unit Linked Insurance Premium (ULIP)</td>
                    <td><input type="text" class="input"></td>
             </tr>
             <tr>
                    <th scope="row">20</th>
                    <td></td>
                    <td>Kisan Vikas Patra (KVP)</td>
                    <td><input type="text" class="input"></td>
             </tr>
             <tr>
                    <th scope="row">21</th>
                    <td></td>
                    <td>Deposit in NSS</td>
                    <td><input type="text" class="input"></td>
             </tr>
             <tr>
                    <th scope="row">22</th>
                    <td></td>
                    <td>Public Provident Fund	</td>
                    <td><input type="text" class="input"></td>
             </tr>
             <tr>
                    <th scope="row">23</th>
                    <td></td>
                    <td>	OTHERS</td>
                    <td><input type="text" class="input"></td>
             </tr>
              <tr>
                <th scope="row">Max Amount:0.00</th>
                <th scope="col"></th>
                <td class="a"> Total:</td>
                <td scope="col"><input type="text" class="input"></td>
              </tr>
            </tbody>
           
    
    <!--80CCD-->
 
           <thead>
                   <tr>
                           <th colspan="4"  class="clss">80 CCD</th>
                         </tr>
             <tr>
               <th scope="col">#</th>
               <th scope="col"></th>
               <th scope="col">Name</th>
               <th scope="col">Amount</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <th scope="row">1</th>
               <td></td>
               <td>National Pension Scheme</td>
               <td><input type="text" class="input"></td>
             </tr>
             <tr>
               <th scope="row">Max Amount:500000.00</th>
               <th scope="col"></th>
               <td class="a"> Total:</td>
               <td scope="col"><input type="text" class="input"></td>
             </tr>
           </tbody>
        
    <!--80D-->
     
           <thead>
                        <tr>
                           <th colspan="4"  class="clss">80 D</th>
                         </tr>
             <tr>
               <th scope="col">#</th>
               <th scope="col">Select</th>
               <th scope="col">Name</th>
               <th scope="col">Amount</th>
             </tr>
           </thead>
           <tbody>
             <tr>
               <th scope="row">1</th>
               <td><input type="radio"></td>
               <td>Medical Insurance Premium/Preventive Health Check-up(If Parents are not senior citizens)</td>
               <td><input type="text" class="input"></td>
             </tr>
             <tr>
             <th scope="row">2</th>
               <td><input type="radio"></td>
               <td >Medical Insurance Premium/Preventive Health Check-up(If Parents are senior citizens )</td>
               <td><input type="text" class="input"></td>
             </tr>
             <tr>
               <th scope="row">Max Amount:25000.00</th>
               <th scope="col"></th>
               <td class="a"> Total:</td>
               <td scope="col"><input type="text" class="input"></td>
             </tr>
           </tbody>

    <!--80DD-->
 
                  <thead>
                                 <tr>
                                  <th colspan="4"  class="clss">80DD</th>
                                </tr>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Select</th>
                      <th scope="col">Name</th>
                      <th scope="col">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td><input type="radio"></td>
                      <td>Medical Insurance Premium/Preventive Health Check-up(If Parents are not senior citizens)</td>
                      <td><input type="text"></td>
                    </tr>
                         <tr>
                          <th scope="row">2</th>
                          <td><input type="radio"></td>
                          <td>	Medical Insurance Premium/Preventive Health Check-up(If Parents are senior citizens</td>
                          <td><input type="text"></td>
                        </tr>
                  <tr>
                      <th scope="row">Max Amount:25000.00</th>
                      <th scope="col"></th>
                      <td class="a"> Total:</td>
                      <td scope="col"><input type="text"></td>
                  </tr>
                  </tbody>
   
    <!--80DD-->

                  <thead>
                                <tr>
                                  <th colspan="4"  class="clss">80DD</th>
                                </tr>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Select</th>
                      <th scope="col">Name</th>
                      <th scope="col">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td><input type="radio"></td>
                      <td>Expenditure on Maintenance / Medical Treatment of Dependent with Disability Maximum Deduction: Disability: 30% to 79%</td>
                      <td><input type="text"></td>
                    </tr>
                    <tr>
                          <th scope="row">2</th>
                          <td><input type="radio"></td>
                          <td>Expenditure on Maintenance / Medical Treatment of Dependent with Disability Maximum Deduction: Disability: 80% and more	</td>
                          <td><input type="text"></td>
                        </tr>
                  <tr>
                      <th scope="row">Max Amount:25000.00</th>
                      <th scope="col"></th>
                      <td class="a"> Total:</td>
                      <td scope="col"><input type="text"></td>
                    </tr>
                  </tbody>

                <!--80DDB-->
  
                         <thead>
                                        <tr>
                                         <th colspan="4"  class="clss">80DDB</th>
                                       </tr>
                           <tr>
                             <th scope="col">#</th>
                             <th scope="col">Select</th>
                             <th scope="col">Name</th>
                             <th scope="col">Amount</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <th scope="row">1</th>
                             <td><input type="radio"></td>
                             <td>Expenditure on Medical Treatment of Specified Disease/ Ailment upto 59 years</td>
                             <td><input type="text"></td>
                           </tr>
                           <tr>
                                 <th scope="row">2</th>
                                 <td><input type="radio"></td>
                                 <td>Expenditure on Medical Treatment of Specified Disease/ Ailment Senior Citizens (60 to 79 Years) Rs. 60,000/-</td>
                                 <td><input type="text"></td>
                               </tr>
                               <tr>
                                     <th scope="row">3</th>
                                     <td><input type="radio"></td>
                                     <td>Expenditure on Medical Treatment of Specified Disease/ Ailment Super Senior Citizens (80 Years or more) : Rs. 80,000/-	</td>
                                     <td><input type="text"></td>
                                   </tr>
                          <tr>
                             <th scope="row">Max Amount:40000.00</th>
                             <th scope="col"></th>
                             <td class="a"> Total:</td>
                             <td scope="col"><input type="text"></td>
                           </tr>
                         </tbody>

           <!--80U-->

                         <thead>
                                       <tr>
                                         <th colspan="4"  class="clss">80U</th>
                                       </tr>
                           <tr>
                             <th scope="col">#</th>
                             <th scope="col">Select</th>
                             <th scope="col">Name</th>
                             <th scope="col">Amount</th>
                           </tr>
                         </thead>
                         <tbody>
                           <tr>
                             <th scope="row">1</th>
                             <td><input type="radio"></td>
                             <td>	Person with disability  Rs. 75,000/-</td>
                             <td><input type="text"></td>
                           </tr>
                           <tr>
                                 <th scope="row">2</th>
                                 <td><input type="radio"></td>
                                 <td>Person with disability - Severe Disability  Rs. 1,25,000/-</td>
                                 <td><input type="text"></td>
                               </tr>
                         <tr>
                             <th scope="row">Max Amount:75000.00</th>
                             <th scope="col"></th>
                             <td class="a"> Total:</td>
                             <td scope="col"><input type="text"></td>
                           </tr>
                         </tbody>

    <!--80G Donations which qualify for 100% deduction without any upper limit-->
  
                  <thead>
                          <tr>
                                  <th colspan="4"  class="clss">
                                    80G Donations which qualify for 100% deduction without any upper limit</th>
                                </tr>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col"></th>
                      <th scope="col">Name</th>
                      <th scope="col">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td></td>
                      <td>National Illness Assistance Fund</td>
                      <td><input type="text" class="input"></td>
                    </tr>
                    <tr>
                          <th scope="row">2</th>
                          <td></td>
                          <td>National Blood Transfusion Council or to any State Blood Transfusion Council</td>
                          <td><input type="text" class="input"></td>
                   </tr>
                   <tr>
                          <th scope="row">3</th>
                          <td></td>
                          <td>National Defence Fund set up by the Central Government</td>
                          <td><input type="text" class="input"></td>
                   </tr>
                   <tr>
                          <th scope="row">3</th>
                          <td></td>
                          <td> Prime Ministers National Relief Fund</td>
                          <td><input type="text" class="input"></td>
                   </tr>
                   <tr>
                          <th scope="row">5</th>
                          <td></td>
                          <td>National Foundation for Communal Harmony</td>
                          <td><input type="text" class="input"></td>
                   </tr>
                   <tr>
                          <th scope="row">6</th>
                          <td></td>
                          <td>Zila Saksharta Samiti constituted in any district under the chairmanship of the Collector of that district</td>
                          <td><input type="text" class="input"></td>
                   </tr>
                   <tr>
                          <th scope="row">7</th>
                          <td></td>
                          <td>Fund set up by a State Government for the medical relief to the poor</td>
                          <td><input type="text" class="input"></td>
                   </tr>
                   <tr>
                          <th scope="row">8</th>
                          <td></td>
                          <td>National Trust for Welfare of Persons with Autism, Cerebral Palsy, Mental Retardation and Multiple Disabilities</td>
                          <td><input type="text" class="input"></td>
                   </tr>
                   <tr>
                          <th scope="row">9</th>
                          <td></td>
                          <td>An approved university/educational institution of National eminence</td>
                          <td><input type="text" class="input"></td>
                   </tr>
                   <tr>
                          <th scope="row">10</th>
                          <td></td>
                          <td>National Sports Fund</td>
                          <td><input type="text" class="input"></td>
                   </tr>
          
                   <tr>
                          <th scope="row">11</th>
                          <td></td>
                          <td>National Cultural Fund</td>
                          <td><input type="text" class="input"></td>
                   </tr>
                   <tr>
                          <th scope="row">12</th>
                          <td></td>
                          <td>Fund for Technology Development and Application</td>
                          <td><input type="text" class="input"></td>
                   </tr>
                   <tr>
                          <th scope="row">13</th>
                          <td></td>
                          <td>National Childrens Fund</td>
                          <td><input type="text" class="input"></td>
                   </tr>
                   <tr>
                          <th scope="row">13</th>
                          <td></td>
                          <td>Chief Ministers Relief Fund or Lieutenant Governors Relief Fund with respect to any State or Union Territory</td>
                          <td><input type="text" class="input"></td>
                   </tr>
              
                   <tr>
                          <th scope="row">15</th>
                          <td></td>
                          <td>The Army Central Welfare Fund or the Indian Naval Benevolent Fund or the Air Force Central Welfare Fund, Andhra Pradesh Chief Ministers Cyclone Relief Fund, 1996</td>
                          <td><input type="text" class="input"></td>
                   </tr>
                   <tr>
                          <th scope="row">16</th>
                          <td></td>
                          <td>The Maharashtra Chief Ministers Relief Fund during October 1, 1993 and October 6, 1993</td>
                          <td><input type="text" class="input"></td>
                   </tr>
                   <tr>
                          <th scope="row">17</th>
                          <td></td>
                          <td>Chief Ministers Earthquake Relief Fund, Maharashtra</td>
                          <td><input type="text" class="input"></td>
                   </tr>
                   <tr>
                          <th scope="row">18</th>
                          <td></td>
                          <td>Prime Ministers Armenia Earthquake Relief Fund</td>
                          <td><input type="text" class="input"></td>
                   </tr>
                   <tr>
                          <th scope="row">19</th>
                          <td></td>
                          <td>Africa (Public Contributions  India) Fund</td>
                          <td><input type="text" class="input"></td>
                   </tr>
                   <tr>
                          <th scope="row">20</th>
                          <td></td>
                          <td>Swachh Bharat Kosh (applicable from FY 2013-15)</td>
                          <td><input type="text" class="input"></td>
                   </tr>
                   <tr>
                          <th scope="row">21</th>
                          <td></td>
                          <td>Clean Ganga Fund (applicable from FY 2013-15)</td>
                          <td><input type="text" class="input"></td>
                   </tr>
                   <tr>
                          <th scope="row">22</th>
                          <td></td>
                          <td>National Fund for Control of Drug Abuse (applicable from FY 2015-16)</td>
                          <td><input type="text" class="input"></td>
                   </tr>
                    <tr>
                      <th scope="row">Max Amount: 10000000.00</th>
                      <th scope="col"></th>
                      <td class="a"> Total:</td>
                      <td scope="col"><input type="text" class="input"></td>
                    </tr>
                  </tbody>
           
    <!--
    80C-->
   
                  <thead>
                          <tr>
                                  <th colspan="4"  class="clss">
                                    80G Donations which qualify for 50% deduction without any upper limit</th>
                          </tr>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col"></th>
                      <th scope="col">Name</th>
                      <th scope="col">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td></td>
                      <td>Life Insurance Premium for Self/Spouse/Children</td>
                      <td><input type="text" class="input"></td>
                    </tr>
                    <tr>
                          <th scope="row">2</th>
                          <td></td>
                          <td>National Savings Certificate</td>
                          <td><input type="text" class="input"></td>
                   </tr>
                   <tr>
                          <th scope="row">3</th>
                          <td></td>
                          <td>Subscription to equity Shares or debentures - ULIP/ELSS/Mutual Funds</td>
                          <td><input type="text" class="input"></td>
                   </tr>
                   <tr>
                                <th scope="row">Max Amount: 10000000.00</th>
                                <th scope="col"></th>
                                <td class="a"> Total:</td>
                                <td scope="col"><input type="text" class="input"></td>
                              </tr>
                            </tbody>
          
    <!--80G Donations which qualify for 100% deduction subject to 10% of adjusted gross total income-->
    
    
   
      <thead>
              <tr>
                      <th colspan="4"  class="clss">80G Donations which qualify for 100% deduction subject to 10% of adjusted gross total income</th>
                    </tr>
        <tr>
          <th scope="col">#</th>
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>		</td>
          <td><input type="text" class="input"></td>
        </tr>
        <tr>
          <th scope="row">Max Amount:10000000.00</th>
          <th scope="col"></th>
          <td class="a"> Total:</td>
          <td scope="col"><input type="text" class="input"></td>
        </tr>
      </tbody>

    <!--80G Donations to the following institutions are eligible for 50% deduction subject to 10% of adjusted gross total income-->
    
    

      <thead>
              <tr>
                      <th colspan="4"  class="clss">80G Donations to the following institutions are eligible for 50% deduction subject to 10% of adjusted gross total income</th>
                    </tr>
        <tr>
          <th scope="col">#</th>
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col">Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"></th>
          <td></td>
          <td>		</td>
          <td><input type="text" class="input"></td>
        </tr>
        <tr>
          <th scope="row">Max Amount:10000000.00</th>
          <th scope="col"></th>
          <td class="a"> Total:</td>
          <td scope="col"><input type="text" class="input"></td>
        </tr>
      </tbody>

    
       <!---80E-->             
  
        <thead>
                <tr>
                        <th colspan="4"  class="clss">80E</th>
                      </tr>
          <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td></td>
            <td>Interest on Education Loan during the year (For Self/Spouse/Child)	</td>
            <td><input type="text" class="input"></td>
          </tr>
          <tr>
            <th scope="row">Max Amount:10000000.00</th>
            <th scope="col"></th>
            <td class="a"> Total:</td>
            <td scope="col"><input type="text" class="input"></td>
          </tr>
        </tbody>

    <!--
    Home loan interest under Section 24 B-->
    

        <thead>
                <tr>
                        <th colspan="4"  class="clss">Home loan interest under Section 24 B</th>
                      </tr>
          <tr>
            <th scope="col">#</th>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td></td>
            <td>	Interest Paid on Home Loan	</td>
            <td><input type="text" class="input"></td>
          </tr>
          <tr>
            <th scope="row">Max Amount: 200000.00</th>
            <th scope="col"></th>
            <td class="a"> Total:</td>
            <td scope="col"><input type="text" class="input"></td>
          </tr>
        </tbody>
      </table>
      <div id="content" #content>  
  
   
        <div style="float:right;margin-right:10px;">  
          <button type="button" value="PDF"  class="btn btn-primary" (click)="captureScreen()">PDF</button>
        </div>  
    
