
                            
<table class="table table-bordered ">

      <tbody>
          <tr>
               <th  colspan="1"> <mat-label for="relocate"> Are you willing to relocate ?</mat-label> </th>
                  <mat-radio-group>
                  <td>
                  <mat-radio-button value="Yes"> Yes</mat-radio-button></td>
                  <td>
                  <mat-radio-button value="No" > No</mat-radio-button> </td>
                    </mat-radio-group>
          </tr>
      </tbody>
       
              <tbody>
                <tr>
                  <th><mat-label for="current">Do you have any bond/Service agreement with your current employer ?</mat-label> </th>
               
                  <mat-radio-group>
                    <td>
                      <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                      <td>
                     <mat-radio-button value="No"> No</mat-radio-button></td>
                  </mat-radio-group>
                  </tr>
              </tbody>
              
              <tbody>
                  <tr>
                    <th><mat-label for="week">. Are you willing to work six days a week ?</mat-label> </th>
                 
                    <mat-radio-group>
                      <td>
                        <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                        <td>
                       <mat-radio-button value="No"> No</mat-radio-button></td>
                    </mat-radio-group>
                    </tr>
                </tbody>
                
                        <tbody>
                            <tr>
                              <th><mat-label for="past"> Have you ever absconded from any of your past employers ?</mat-label> </th>
                           
                              <mat-radio-group>
                                <td>
                                  <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                                  <td>
                                 <mat-radio-button value="No"> No</mat-radio-button></td>
                              </mat-radio-group>
                              </tr>
                            </tbody>
                              <tbody>
                                  <tr>
                                    <th><mat-label for="criminal"> Do you have any criminal cases/police case against you ?</mat-label> </th>
                                 
                                    <mat-radio-group>
                                      <td>
                                        <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                                        <td>
                                       <mat-radio-button value="No"> No</mat-radio-button></td>
                                    </mat-radio-group>
                                    </tr>
                                </tbody>
                               
                                    <tbody>
                                        <tr><th><mat-label for="relatives">Do you have any of your relatives working currently with EIS Pvt. Ltd ?</mat-label> </th>
                                       
                                          <mat-radio-group>
                                            <td>
                                              <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                                              <td>
                                             <mat-radio-button value="No"> No</mat-radio-button></td>
                                          </mat-radio-group>
                                          </tr>
                                      </tbody>
                              
                    <tbody>
                        <tr>
                          <th><mat-label for="pre-existing"> Do you have any pre-existing medical illness ?</mat-label> </th>
                       
                          <mat-radio-group>
                            <td>
                              <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                              <td>
                             <mat-radio-button value="No"> No</mat-radio-button></td>
                          </mat-radio-group>
                          </tr>
                      </tbody>
                      <tbody>
                          <tr>
                            <th><mat-label for="eis">Have you ever appeared for the EIS Pvt. Ltd Selection Process?</mat-label> </th>
                         
                            <mat-radio-group>
                              <td>
                                <mat-radio-button value="Yes"> Yes</mat-radio-button> </td>
                                <td>
                               <mat-radio-button value="No"> No</mat-radio-button></td>
                            </mat-radio-group>
                            </tr>
                        </tbody>
                       
                           
                             
                               
                                  
                                   
                                      
                                       
                                         
                                            <tbody>
                                                <tr>
                                                  <th>
                                                      <mat-label for="date and result">If yes: please specify date of interview & the result ?</mat-label> </th>
                                               <td>
                                                  <mat-form-field>
                                                      <input matInput [matDatepicker]="picker" placeholder="Choose a date">
                                                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                                      <mat-datepicker #picker></mat-datepicker>
                                                    </mat-form-field>
                                                    </td> 
                                                  </tr>
                                              </tbody>
                                              <tbody>
      <tbody>
            <th  colspan="3"><h3>Declaration: </h3>  </th>
          </tbody>
             <p>I, Certified that the particulars given by me in foregoing above are true, complete and to the best of my knowledge & belief. If any of this information is found to be false/ incomplete/ incorrect, the company can cancel my appointment letter or terminate my employment service contract/employment.
                I have/have not undergone pre-employment medical checkup in past.</p>
    
    
                <div class="mat-subheading-2" >For Envision Integrated Services Private Limited </div>
       
    </table> 
    
    