<div class="login-container">
    
    <div class="login-content">
     <h5  style="text-align: center;font-size:23px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Envision Integrated Services Pvt Ltd</h5>
      <!-- <mat-toolbar class="login-toolbar" color="primary">My App</mat-toolbar> -->
      <img class="card-img-top" src="assets/img/download.png" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;height:170px;padding-bottom: 30x;">
     
      <mat-card>
        <h5  style="margin-bottom:10px;text-align: center;font-size:23px;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color:#01c1f2;">Admin Login</h5>
        <form [formGroup]="AdminloginForm"  (ngSubmit)="onSubmit()">
          <mat-form-field>
            <mat-icon matPrefix>person_outline</mat-icon>
            <input autofocus type="text" matInput placeholder="Username" formControlName="username" >
             <mat-error *ngIf="!AdminloginForm.controls['username'].valid && AdminloginForm.controls['username'].touched">
               Username is required 
            </mat-error> 
          </mat-form-field>
  
          <mat-form-field>
            <mat-icon matPrefix>lock_outline</mat-icon>
            <input type="password" autocomplete="false" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="!AdminloginForm.controls['password'].valid && AdminloginForm.controls['password'].touched">
                Password is required
             </mat-error>
          </mat-form-field>
          <button type="submit" mat-raised-button color="info"  style="background-color: #08849C;color:white;">Login</button>
          <div style="padding-top: 3%;">
              <a  routerLink="/Admin-forgot" style="color:red;text-decoration: underline;">Forgot password?</a>
              <a  routerLink="/Admin-registration" style="color:blue;text-decoration: underline;float:right;">New Registration</a>
          </div>
        </form>
      </mat-card>
    </div>
  </div>