  <!-----Branch-->
 
        <div class="container" style="padding-top: 10px;">
        <div class="row">
          <div class="col-sm-6">
              <table class="table  table-hover ">
                  <thead>
                      <tr class="table-warning">
                          <th colspan="" style="text-align: center;"> REGISTERED OFFICE</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr class="table-info">
                        <th scope="col">
                        HYDERABAD 
                        </th> </tr>
                        <tr class="table-info">
                      <td>Address:- #8-940/5/501, 
                          Tirumala Apartments,
                          Above Cosmos bank, Yellareddyguda 'X' roads,
                          Ameerpet ,
                          Hyderabad- 500 038,
                        Telangana.</td>
                      </tr>
              </table>
             
 
                  <!----    <table class="table  table-hover ">
                      <thead>
                          <tr class="table-warning">
                              <th colspan=""  style="text-align: center;">Sub-Branches</th>
                          </tr>
                      </thead>
                      <tbody>
                        <tr class="table-info" style="text-align: center;">
                          No
                        </tr>
                      </tbody>
                  
              </table>  --->
          </div>
          <div class="col-sm-6">
              <table class="table  table-hover ">
                  <thead>
                      <tr class="table-warning">
                          <th colspan="" style="text-align: center;">GLOBAL DELIVERY OFFICE</th>
                      </tr>
                  </thead>
                  <tbody >
                      <tr class="table-info">
                        <th scope="col">
                        HYDERABAD
                        </th> </tr>
                        <tr class="table-info">
                      <td>Address:- 9th Floor, 913 Manjeera Trinity Corporate, Kukatpally Housing Board Colony, Kukatpally, Hyderabad-85, </td>
                    </tr>
                    </tbody>
              </table>
          </div>
        </div>
        </div>
        <iframe src="https://www.google.com/maps/d/embed?mid=14S2IQJkDo5xSKX5WOQGPnVWOBcCT2CoX" width="640" height="480"></iframe>
        <!----
        <iframe src="https://www.google.com.qa/maps/d/embed?mid=1_tz9aaQS8C3QMR3Xz0_7BQ4QkgjZiRcv" ></iframe>

   <iframe src="https://www.google.com.qa/maps/d/embed?mid=1_tz9aaQS8C3QMR3Xz0_7BQ4QkgjZiRcv" width="640" height="480"></iframe> -->

