.form-control{
    margin-top: 12px;
}
.wpa{
    text-align:center;
    background-color:#c7c9c9;
    color:#212121;
  }
  .example-container {
    display: flex;
    flex-direction: column;
  }
  .example-container > * {
    width: 100%;
    padding-top:20px;
   
  }
 
.example{
  width:110%;
  
}
.mat-success {
  background-color: green;
  color: #fff;
}
th{
  text-align:center;
  background-color:#c7c9c9;
  color:#212121;
}



