<mat-sidenav-container fullscreen>

    <mat-sidenav-content>
      <mat-toolbar style="background-color: #08849C;">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon style="color: white;">menu</mat-icon>
        </button>
        <h6 style="color: white;">
  
          ENVISION INTEGRATED SERVICES PVT.LTD </h6>
  
        <span class="toolbar-spacer"></span>
       
       
      </mat-toolbar>
      <div class="main-content">
        
  
        
  <mat-card class="example-card">
   
    <mat-card-header>You can reset your password</mat-card-header>
  
  <mat-card-content>
    <form class="example-form">
      <table class="example-full-width" >
        <tr>
          <td>
            <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field>
          </td>
        </tr>
        <tr>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
        </mat-form-field></td>
      </tr>
      <tr>
        <td><mat-form-field class="example-full-width">
          <input matInput placeholder="New Password" [(ngModel)]="newpassword" type="password" name="newpassword" required>
        </mat-form-field></td>
      </tr>
      <tr>
       <td> <button type="button" class="btn btn-primary btn-lg btn-block" (click)="reset()" color="primary">RESET PASSWORD</button></td>
      </tr>
    
     
    </table>
    </form>
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  </mat-card-content>
  
  </mat-card>
      </div>
    
    </mat-sidenav-content>
  </mat-sidenav-container>
  
