.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
    padding-top:40px;
    
   
  }
 
  .mat-success {
    background-color: green;
    color: #fff;
}
tr:hover {background-color: #f5f5f5;}
th{
  text-align:center;
  background-color:#c7c9c9;
  color:#212121;
}
mat-tab{
  margin-bottom:5px;;
}