
 
 <!--<div class="row">
  <div class="col-sm-2">Name</div>
  <div class="col-sm-2">Relationship</div>
  <div class="col-sm-2">D.O.B</div>
  <div class="col-sm-2">Age</div>
  <div class="col-sm-2">occuption</div>
  <div class="col-sm-1">Contact</div>
</div>


  

<button mat-raised-button   color="warn" (click)="removerelationship(i)">REMOVE</button>
<button mat-raised-button [color]="'success'"  (click)="addrelationship()">ADD</button>


 

  <table class="example" cellspacing="5">
     
    <tr>
        
        <td>Name</td>
        <td>Relationship</td>
        <td>D.O.B</td>
        <td>Age</td>
        <td>Occuption</td>
        <td>contact</td>
       
      
    </tr>
  </table>
  <div class="example-container">

    <div class="" *ngFor="let relationship of relationship; let i = index;">
            <table class="example-full-width" cellspacing="5">
              <tr>
                
    <td><mat-form-field>
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <input matInput  [(ngModel)]="relationship.name"  name="name" >
      </mat-form-field></td>
   
 
        <td><mat-form-field>
          <input matInput  [(ngModel)]="relationship.relation"  name="relation">
        </mat-form-field></td>

<td><mat-form-field class="example-full-width">
    <input matInput [matDatepickerFilter]="myFilter"  [(ngModel)]="relationship.dob"  name="dob" [matDatepicker]="picker" >
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field></td>
 

 
   <td><mat-form-field>
      <input matInput   [(ngModel)]="relationship.age" name="age" >
    </mat-form-field></td>
 
       <td><mat-form-field>
          <input matInput  [(ngModel)]="relationship.occuption" name="occuption" >
        </mat-form-field></td>

    
           <td> <mat-form-field>
              <input matInput   [(ngModel)]="relationship.contact" name="contact" >
            </mat-form-field></td>
            </tr>
            </table>
            </div>
            </div>-->
            <div> 
                 
              <table class="TFtable">  

                  
                <tr >   
                <th>NAME</th><th>RELATIONSHIP </th>  <th>D.O.B</th>  <th>AGE</th> <th>OCCUPTION</th> <th>CONTACT</th> 
               
                  <th><button mat-raised-button   style="background-color: #3AB1CF; color: white; margin-right:3px;" (click)="addrelationship()">ADD</button>
                  </th>
                  <th><button mat-raised-button   color="warn" (click)="removerelationship(i)">REMOVE</button></th>
                </tr>  
                
                <tr  *ngFor="let relationship of relationship; let i = index;">  
               
               

                <td><input type="text"  [(ngModel)]="relationship.name"  name="name"></td>  
                <td><input type="text"   [(ngModel)]="relationship.relation"  name="relation"></td>  
                
                <td><input type="text" [(ngModel)]="relationship.dob"  name="dob"></td>
                <td><input type="text"  [(ngModel)]="relationship.age" name="age"></td>  


                <td><input type="text" [(ngModel)]="relationship.occuption" name="occuption" ></td>
                <td><input type="text" [(ngModel)]="relationship.contact" name="contact" ></td>
              
              
              
                
                
                </tr>  
                
                </table> 
               
            </div>

        
            



            
